<div class="buyArea">
  <div class="subheader">
    <div class="row">
      <div>Account: <%=account.number%></div>
      <div>Total Value: <%=account.totalValue%></div>
    </div>
    <br />
    <div class="row">
      <div>Buying Power: <%=account.cash%></div>
      <div>Market Value: <%=account.marketValue%></div>
    </div>
  </div>

  <div>graph</div>
  <img src="https://i.imgur.com/EFqRbev.png" alt="stonks" />
  <P> </P>
  <p></p>
  <h1>Buy</h1>
  <form class="buyForm" action="/trade/buy/quote" method="post">
    <div>
      <label for="symbol">Symbol</label>
      <input type="text" name="symbol" value="<%=symbol%>" />
      <% if(price) { %> Price: <%=price%> <% }%>
    </div>
    <% let red = '' %> <% let buyButton = '' %> <% if (shares*price >
    account.cash ){ red="red", buyButton = 'hidden' } %>
    <div>
      <label for="shares">shares</label>
      <input type="number" name="shares" value="<%=shares%>" />
      <% if(shares) { %>
      <span id="total" class="<%=red%>"> Total: <%=shares*price%></span>
      <% }%>
    </div>
    <button type="submit">quote</button>
  </form>
  <p></p>
  <form class="sharesForm" action="/trade/buy/submit" method="post">
    <input class="hidden" type="text" name="symbol" value="<%=symbol%>" />
    <input class="hidden" type="number" name="shares" value="<%=shares%>" />
    <input class="hidden" type="number" name="price" value="<%=price%>" />
    <input
      class="hidden"
      type="number"
      name="originalPrice"
      value="<%=price%>"
    />
    <input
      class="hidden"
      type="number"
      name="value"
      value="<%=shares*price%>"
    />
    <input class="hidden" type="text" name="account" value="<%=account._id%>" />

    <div><button class="type <%=buyButton%>" ="submit">Buy</button></div>
  </form>
</div>
