<div class="buyArea"></div>
<p></p>
<p></p>
<h1 class="center">
  <div>Account <%=account.number%> History</div>
</h1>
<p></p>
<p></p>

<div class="summary">
  <div class="topRowSummary">
    <div>
      Buying Power: <%=account.cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
      '$&,')%>
    </div>
    <div>
      Market Value:
      <%=account.marketValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%>
    </div>
    <div>
      Net Value: <%=account.totalValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
      '$&,')%>
    </div>
  </div>
  <table class="summaryTable table table-striped table-dark table-hover">
    <tr>
      <th></th>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Total</th>
      <th>Order</th>
    </tr>

    <% account.history.forEach(function(trade) { %>
    <tr>
      <% if(trade.trade == "Sell"){ red="red" }%>
      <td>
        <% if(trade.trade == "Buy") { red="green" }%>
        <img
          class="icon"
          src="/icons/<%=trade.symbol.toLowerCase()%>.png"
          alt="<%=trade.symbol%>"
          title="<%=trade.symbol%>"
        />
      </td>
      <td><%=trade.symbol %></td>
      <td><%=trade.shares %></td>
      <td><%=trade.price %></td>
      <td>
        <%=(trade.shares*trade.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,') %>
      </td>
      <td class="<%=red%>"><%=trade.trade%></td>
    </tr>
    <% }) %>
  </table>
</div>
