<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DCrypto</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <header>
    <section>
      <a id="logo" href="/">DCrypto</a>
      <nav>
        <ul>
          <div class="middleNav">
            <li>
              <a href="/trade/buy">Buy</a>
            </li>
            <li>
              <a href="/trade/sell">Sell</a>
            </li>
            <li>
              <a href="/trade/history">History</a>
            </li>
            <li>
              <a href="/">Overview</a>
            </li>
            <li>
              <a href="/chat">Chat</a>
            </li>
          </div>
          <div class="endNav">
            <span class="rightNav">
              <li>
                <span class="name">
                  <% if(currentUser){ %>
                  <a class="nameNav" href="/">
                    <%=currentUser.firstName%> <%=currentUser.lastName%></a
                  >
                </span>
              </li>
              &nbsp; &nbsp; &nbsp;
              <li><a href="/auth/logout">Sign Out</a></li>
              <%} else { %>
              <li><a href="/auth/signin">Sign In</a></li>
              <li><a href="/auth/signup">Sign Up</a></li>
              <%}%>
            </span>
          </div>
        </ul>
      </nav>
    </section>
  </header>
  <body>
    <% if(alerts.validationErrors) { %> <%
    alerts.validationErrors.forEach(function(msg) { %>
    <div class="alert alert-danger">Your<%=msg.param %> has <%=msg.msg %></div>
    <% }) %> <% }%> <% if(alerts.success) { %> <%
    alerts.success.forEach(function(msg) { %>
    <div class="alert alert-success"><%=msg %></div>
    <% }) %> <% }%> <% if(alerts.error) { %> <%
    alerts.error.forEach(function(msg) { %>
    <div class="alert alert-danger"><%=msg %></div>
    <% }) %> <% }%>
    <br /><br />

    <%- body %> <br /><br />

    <!-- <img src="../images/lucky.jpg" width="400px" /> -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>
