<div class="buyArea">
  <div class="subheader">
    <div class="row">
      <div>Account: <%=account.number%></div>
      <div>
        Net Value: <%=account.totalValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,')%>
      </div>
    </div>
    <br />
    <div class="row">
      <div>
        Buying Power: <%=account.cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,')%>
      </div>
      <div>
        Market Value:
        <%=account.marketValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%>
      </div>
    </div>
  </div>
</div>
<p></p>
<p></p>
<h1 class="center">Account Summary</h1>
<p></p>
<p></p>
<div class="summary">
  <table class="summaryTable table table-dark table-striped">
    <tr>
      <th></th>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Cost</th>
      <th>Price</th>
      <th>Total</th>
      <th>Change</th>
      <th></th>
    </tr>

    <% account.positions.forEach(function(position) { %> <% let red="" %>
    <tr>
      <td>
        <img
          class="icon"
          src="/icons/<%=position.symbol.toLowerCase()%>.png"
          alt="<%=position.symbol%>"
          title="<%=position.symbol%>"
        />
      </td>
      <td><%=position.symbol %></td>
      <td><%=position.shares %></td>
      <td>
        <%=position.originalPrice.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        %>
      </td>
      <td>
        <%=(position.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
      </td>
      <td>
        <%=(position.shares*position.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,') %>
      </td>
      <td
        class="<%=(Number((position.shares*position.price))-Number((position.shares*position.originalPrice))).toFixed(2) > 0 ? 'green': 'red'%>"
      >
        <%=((position.shares*position.price)-(position.shares*position.originalPrice)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,')%>
      </td>
      <td>
        <div class="dropdown">
          <button class="dropbtn">&#x2B05;</button>
          <div class="dropdown-content">
            <a href="/trade/buy/<%=position.symbol%>">Buy</a>
            <a href="/trade/sell/<%=position.symbol%>">Sell</a>
          </div>
        </div>
      </td>
    </tr>
    <% }) %>
  </table>
</div>
