<div class="buyArea"></div>
<h1 class="center"><div>Account <%=account.number%> Overview</div></h1>
<p></p>
<% account.positions.sort((a,b)=>{ return (b.shares*b.price) -
(a.shares*a.price)})%>

<div class="top"></div>
<div class="summary">
  <div class="topRowSummary">
    <div>
      Buying Power: <%=account.cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
      '$&,')%>
    </div>
    <div>
      Market Value:
      <%=account.marketValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%>
    </div>
    <div>
      Net Value: <%=account.totalValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
      '$&,')%>
    </div>
  </div>
  <table class="summaryTable table table-dark table-striped">
    <tr>
      <th></th>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Cost</th>
      <th>Price</th>
      <th>Total</th>
      <th>Change</th>
      <th></th>
    </tr>

    <% account.positions.forEach(function(position) { %> <% let red="" %>
    <tr>
      <td>
        <img
          class="icon"
          src="/icons/<%=position.symbol.toLowerCase()%>.png"
          alt="<%=position.symbol%>"
          title="<%=position.symbol%>"
        />
      </td>
      <td><%=position.symbol %></td>
      <td><%=Number(position.shares.toFixed(4)) %></td>
      <td>
        <%=position.originalPrice.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        %>
      </td>
      <td>
        <%=(position.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
      </td>
      <td>
        <%=(position.shares*position.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,') %>
      </td>
      <td
        class="<%=(Number((position.shares*position.price))-Number((position.shares*position.originalPrice))).toFixed(2) > 0 ? 'green': 'red'%>"
      >
        <%=((position.shares*position.price)-(position.shares*position.originalPrice)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,')%>
      </td>
      <td>
        <div class="dropdown">
          <button class="dropbtn">&#x2B05;</button>
          <div class="dropdown-content">
            <a href="/trade/buy/?symbol=<%=position.symbol%>">Buy</a>
            <a href="/trade/sell/?symbol=<%=position.symbol%>">Sell</a>
          </div>
        </div>
      </td>
    </tr>
    <% }) %>
  </table>
  <p></p>
  <p></p>
</div>
<div class="footerLinks">
  <div>
    <a
      href="https://www.linkedin.com/in/dylan-kotzer-3a5421190/"
      class="fa fa-linkedin"
    ></a>
  </div>
  <div>
    <a href="https://github.com/DKotzer/" class="fa fa-github"></a>
  </div>
</div>
