<div class="buyArea">
  <div class="subheader">
    <div class="row">
      <div>Account: <%=account.number%></div>
      <div>
        Total Value:
        <%=account.totalValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%>
      </div>
    </div>
    <br />
    <div class="row">
      <div>
        Buying Power: <%=account.cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,')%>
      </div>
      <div>
        Market Value:
        <%=account.marketValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%>
      </div>
    </div>
  </div>
</div>
<p></p>
<p></p>
<h1 class="center">Account Summary</h1>
<p></p>
<p></p>
<div class="summary">
  <table class="summaryTable table table-striped">
    <tr>
      <th>Equity</th>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Cost</th>
      <th>Mkt Price</th>
      <th>Total</th>
      <th>Change</th>
      <th></th>
    </tr>

    <% account.positions.forEach(function(position) { %>
    <tr>
      <td><%=position.symbol %></td>
      <td><%=position.symbol %></td>
      <td><%=position.shares %></td>
      <td>
        <%=position.originalPrice.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        %>
      </td>
      <td>
        <%=(position.shares*position.originalPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,') %>
      </td>
      <td>
        <%=(position.shares*position.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,') %>
      </td>
      <td>
        <%=((position.shares*position.price)-(position.shares*position.originalPrice)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,')%>
      </td>
      <td>
        <div class="dropdown">
          <button class="dropbtn">⇓</button>
          <div class="dropdown-content">
            <a href="/trade/buy">Buy</a>
            <a href="/trade/sell">Sell</a>
          </div>
        </div>
      </td>
    </tr>
    <% }) %>
  </table>
</div>
